@charset "utf-8";
$blue: #3190e8;
$bc: #e4e4e4;
$fc:#fff;

//rem整数换算
@function rem ($num) {
  @return $num/100 * 2rem;
}
//统计样式
@mixin statistics() {
	.incomeDisplay {
    width: 100%;
    display: flex;
    background-color: #FFF;
    .incomeType {
      flex: 1;
      text-align: center;
      color: #333333;
      font-size: rem(28);
      border-left: 1px solid #ebebeb;
      position: relative;
      .child {
        height: rem(88);
        line-height: rem(88);
      }
      .child:first-child {
        border-bottom: 1px solid #ebebeb;
      }
      .arrow {
        position: absolute;
        bottom: -0.6rem;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-bottom: rem(22) solid #FFF;
        border-left: rem(15) solid transparent;
        border-right: rem(15) solid transparent;
        display: none;
      }
      .details {
        position: absolute;
        top: calc(100% + 0.6rem);
        width: calc(300% + 3px);
        display: none;
        left: -1px;
      }
      &:nth-child(2) {
        .details {
          left: calc(-100% - 2px);
        }
      }
    }
    .current {
      >.child {
        color: #f39800;
      }
      .details {
        display: flex;
      }
      .arrow {
        display: block;
      }
    }
  }
}
// 背景图片地址和大小
@mixin bis($url) {
	background-image: url($url);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

@mixin borderRadius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}
//定位全屏
@mixin allcover{
	position:absolute;
	top:0;
	right:0;
}

//定位上下左右居中
@mixin center {
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//定位上下居中
@mixin ct {
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
}

//定位左右居中
@mixin cl {
	position: absolute;
	left: 50%;
    transform: translateX(-50%);
}

//宽高
@mixin wh($width, $height){
	width: $width;
	height: $height;
}

//字体大小、行高、字体
@mixin font($size, $line-height, $family: 'Microsoft YaHei') {
	font: #{$size}/#{$line-height} $family;
}

//字体大小，颜色
@mixin sc($size, $color){
	font-size: $size;
	color: $color;
}

//flex 布局和 子元素 对其方式
@mixin fj($type: space-between){
	display: flex;
	justify-content: $type;

}
