@charset "utf-8";
@import "./mixin";
.personalInfo {
  margin-top: rem(26);
  background-color: #FFF;
  .infoBox {
    padding: rem(30) rem(43);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ebebeb;
    position: relative;
    label {
      font-size: rem(30);
      color: #333333;
      min-width: rem(130);
      flex-shrink: 0;
    }
    .userHeadBox {
      width: rem(113);
      height: rem(113);
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .userName {
      flex: 1;
      text-align: right;
      color: #999999;
      font-size: rem(30);
      outline: none;
    }
    .select {
      color: #999999;
      font-size: rem(30);
      span {
        color: #999999;
        font-size: rem(30);
      }
    }
    &.active:active {
      background-color: #f1f1f1;
    }
    input[type=file] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }
}
